[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.2.7"
django = "==3.0.5"
django-widget-tweaks = "==1.4.8"
pytz = "==2020.1"
sqlparse = "==0.3.1"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.11"
