<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<style>
  .jumbotron{
    margin-bottom: 0px;
  }
</style>
<body>
  {% include "exam/navbar.html" %}
<br>
<section id="section-jumbotron" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center">
  <div class="container text-center">
    <h2 class="display-3 text-info">Onlayn test ishlash</h2>
    <p class="display-4 d-none d-sm-block">IT Creative jamoasi tomonidan ishlab chiqilgan testlarni ishlash mumkin!</p>
    <p class="lead">Oldin o'zingiz haqingizda bizga ko'proq ma'lumot bering</p>


    <a href="/student/studentsignup" class="btn btn-lg btn-info" style="padding-right: 35px; border-radius: 0%;"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Ro'yxatdan o'tish (o'quvchilar uchun)</a>
    
    <br><br><br>
  </div>  
</section>
  {% include "exam/footer.html" %}


</body>

</html>
